body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222;
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;

}

.tw-followCard{     
    display: flex;     
    align-items: center;     
    color: #fff;     
    font-size: 8rem; 
    justify-content: space-between;
    width: 100%; 
    max-width: 400px;
}   

.tw-followCard-header{    
    display: flex;     
    align-items: center;     
    gap: 4px;
}  
    
.tw-followCard-info{     
    display: flex;
    flex-direction: column;
    font-size: 16px;;
}

.tw-followCard-userName{
    opacity: 0.6;
}

.tw-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button{
    display: flex;
    align-items: center;        
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    font-weight: bold;
    padding: 6px 16px;
}

.App{
    display: flex;
    flex-direction: column;
    gap: 8px;
}